@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Roboto+Slab:wght@300&display=swap');
body {
    background-color: #EDE7E3;
    padding: 0;
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
h1, h2, h3, h4,h5 {
    padding: 10px;
    color: #D62828;
    text-align: center;
    font-family: 'Caveat', serif, Arial;
    font-size: 1.75em;
    line-height: 1.1em;
}
p {
    padding: 10px;
    color: #EDE7E3;
    font-family:'Roboto Slab', Helvetica, sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
}
nav {
    background-color: #16697A;
    display: flex; 
    justify-content: space-around;
    padding: .5em .75em;
}
nav a {
    line-height: 1em;
    padding: .5em;
    text-decoration: none;
    text-align: center;
    font-family:'Roboto Slab', Helvetica, sans-serif;
    font-size: 1em;
    color: #EDE7E3;
}
nav a:hover {
    background-color: #000000;
    color: #EDE7E3;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000000;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 200px;
    height: 100px;
    position: relative;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #16697A;
    opacity: .89;
}
img {
    max-width: 100%;
}
main section img {
    box-sizing: border-box;
}
main, section {
    text-align: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
}
#hero-box {
    grid-column: 1/11;
    grid-row: 1/3;
}
#hero-img {
    width: 100%;
    grid-column: 1/11;
    grid-row: 1/3;
}
#hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.home-title {
    color: #D62828;
    text-shadow: 3px 3px #000000;
    margin-top: 10px;
}
.book, .join {
    background-color: #16697A;
    color: #EDE7E3;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px;
    box-shadow: 2px 6px 12px #000000;
}
.book:hover, .join:hover {
    color: #EDE7E3;
    background-color: #000000;
    box-shadow: 4px 4px 4px #000000;
}
.button-box {
    text-align: center;
    margin: 55px;
}
.card-img {
    width: 100%;
    height: 300px;
    box-shadow: 4px 4px 4px #000000;
    border: 10px solid #16697A;
    margin-left: -45px;
    transition: transform .5s;
    border-radius: 50%;
}
.card-img:hover {
    opacity: .75;
    transform: scale(1.1);
}
.icon {
    width: 80px;
    padding-top: 25px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 25px auto;
    width: 90%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    height: auto;
    background-color: #16697A;
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 25px 0 25px -45px;
}
.msg {
    text-align: center;
    padding: 55px;
    background-color: #16697A;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: #EDE7E3;
    font-size: 1.25em;
    }
.msg p {
        font-size: .75em;
        color: #EDE7E3;
    }
footer{
        background-color: #16697A;
        padding: 25px 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
#info {
        font-size: .5em;
        color: #EDE7E3;
    }
    footer .social img {
        padding-top: 15px;
        width: 45px;
    }
footer p a{
        font-size: .5em;
        color: #EDE7E3;
    }
footer p a:hover {
        background-color: #000000;
        color: #EDE7E3;
        text-decoration: underline;
    }
    @media screen and (max-width: 900px) {
        #hero, .home-grid {
            display: block;
            height: auto;
        }
        nav, footer {
            flex-direction: column;
        }
        nav a {
            display: block;
            padding: 15px;
        }
        #hero {
            margin-top: 0;
        }
        #hero-msg {
            margin-top: 0;
        }
        #hero-msg h4 {
            display: none;
        }
        .home-title {
            font-size: 25px;
            color: #6f7364;
        }
        .rivers-card, .camping-card, .rapids-card { 
            margin: 50px auto;
            width: 60%;
        }
        #background {
            display: none;
        }
        .mountains, .msg {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        footer {
            margin-top: 25px;
        }
    }


#second-hero-2 {
    width: 100%;
}
.second-grid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: repeat(10em, 8);
grid-gap: 20px;
}
.salmon-river {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}
.text-salmon {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #16697A;
    margin-right: 15em;
}
.salmon-details {
    background-color: #16697A;
    grid-column: 1/3;
    grid-row: 2/3;
    margin-right: 15em;
    margin-left: 15em;
    margin-top: .5em;
}
.gray-canyon {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100em;
    justify-items: center;
}
.text-gray {
    background-color: #16697A;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: .5em;
    width: 100%;    
}
.gray-details {
    background-color: #16697A;
    grid-column: 1/3;
    grid-row: 4/5;
    margin-right: 15em;
    margin-left: 15em;
    margin-top: .5em;
}
.arizona-canyon {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 100%;
}
.text-arizona {
    background-color: #16697A;
    grid-column: 2/3;
    grid-row: 5/6;
}
.arizona-details {
    grid-column: 1/3;
    grid-row: 6/7;
    background-color: #16697A;
}
.final-msg {
    background-color: #16697A;
    grid-column: 1/3;
    grid-row: 7/8;
}